@import '@/styles/variables.scss';

.content {
  padding: 20px;
  background-color: $color-white;

  .op-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .total {

    }
    .op {
      display: flex;
      align-items: center;
      .search {
        margin-left: 20px;
      }
      .switch-display {
        margin-left: 20px;
        font-size: 24px;
      }
      .order {
        color: $color-primary;
        /deep/ input {
          border: none;
          color: $color-primary;
          padding: 0 10px 0 0
        }
      }
    }

  }

  .photo-cont {

    .photo-wrap {
      display: inline-block;
      border: 1px solid $border-color-base;
      border-radius: 4px;
      margin: 0 20px 20px 0;
      padding: 8px;
    }
    .photo-checked {
      border-color: $color-primary;
    }

    .op-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /deep/ .el-checkbox__label {
        visibility: hidden;
        width: 80px;
      }
      .text-btn {
        font-size: 18px;
        // margin-left: 10px;
        &.view-detail-btn {
          font-family: serif;
          font-weight: 800;
          padding: 0 10px;
        }
      }
    }

    .image-wrap {
      margin: 5px 0;
      cursor: pointer;
    }

    .title-wrap {
      display: flex;
      max-width: 150px;
      .title {
        max-width: 126px;
      }
      .format {
        white-space: nowrap;
      }
    }
  }

  .el-pagination {
    text-align: right;
  }
}