@import "./variables.scss";

/* 位置
 ------------------- */

// 垂直居中
.center-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

// 单行省略显示
.single-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// // 块元素水平居中
// .center-h {
//   margin: auto;
// }
// // 行内元素水平居中
// .center-h-inline {
//   text-align: center;
// }

/* 字体(typography)
 ------------------- */

.typo-h1 {
  color: $color-text-primary;
  font-size: 20px;
  font-weight: 600;
}

.typo-h2 {
  color: $color-text-primary;
  font-size: 18px;
}

.typo-h3 {
  color: $color-text-primary;
  font-size: 16px;
}

.typo-base {
  color: $color-text-regular;
  font-size: 14px;
}

.typo-base-s {
  color: $color-text-regular;
  font-size: 13px;
}

.typo-sec {
  color: $color-text-secondary;
  font-size: 12px;
}

/* 其他样式
 ------------------- */
 
.with-shadow {
  box-shadow: 0 2px 20px 0 $border-color-base;
}

.text-btn {
  color: $color-text-regular;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

.highlight {
  font-size: 14px;
  color: $color-warning;
}


/* el 样式
 ------------------- */
.el-dropdown-link {
  cursor: pointer;
  color: $color-primary;
}
.el-icon-arrow-down {
  font-size: 12px;
}


/* el 样式
 ------------------- */
.collapse-ttb-enter-active, .collapse-ttb-leave-active {
  transition: transform .3s;
}
.collapse-ttb-enter, .collapse-ttb-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(60px)
}